@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Lt.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

.wrapper{
  padding-top: 50px;
}

.main_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/main01.png');
    background-attachment:  fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.main_title{
  font-size: 10rem;
  color: white;
}
.sub_title{
  font-size: 2rem;
  color: white;
}

.main_text{
  text-align: center;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family:'BookkMyungjo';
  font-size: 20px;
  font-weight: 100;
}

.intro_img{
  margin: 100px 0px;
}

.intro_img img{
  width: 50px;
  height: 50px;
}

.info_text_box h2{
  font-family: 'Aggravo';
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}


.info_section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  text-align: center;
}

.info_section:first-child{
  margin-top: 100px;
}

.info_text_box{
  padding-top: 200px;
}

.info_contents{
  width: 50%;
  height: 500px;
}

.info_left_sec1{
  background-image: url('../images/main01.png');
  background-size: contain;
}

.info_right_sec2{
  background-image: url('../images/main01.png');
  background-size: contain;
}

.info_left_sec3{
  background-image: url('../images/main01.png');
  background-size: contain;
}

.info_right_sec4{
  background-image: url('../images/main01.png');
  background-size: contain;
}

.info_left_sec5{
  background-image: url('../images/main01.png');
  background-size: contain;
}

.info_right_sec6{
  background-image: url('../images/main01.png');
  background-size: contain;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}