.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content.large-modal {
  background-color: white;
  border-radius: 8px;
  width: 90%;
  max-height: 80vh;
  padding: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.shop-modal-header{
  text-align: center;
  margin-bottom: 5px;
}
.shop-modal-subtitle{
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
  color: #666;
}

.search-modal-header h3 {
  margin: 0;
  font-size: 1.2rem;
}

.modal-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  left: 100%;
}

.modal-close-btn:hover {
  color: #666;
}

.search-modal-content {
  padding: 1rem;
  overflow-y: auto;
  max-height: calc(80vh - 60px);
}

.loading {
  text-align: center;
  padding: 1rem;
  color: #666;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result-item {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item:hover {
  background-color: #f5f5f5;
}

.result-name {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.result-detail {
  font-size: 0.9rem;
  color: #666;
}